<div class="container-sm">
    <p></p>
    <hr>
    <h3>NOTES:</h3>
    <p>Use this part to display the social media links</p>

    <br>
    <span class="badge bg-success">{{environment}}</span>

</div>